<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.launcher">

    <application
        android:label="Launcher"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- ESSA LINHA CORRIGE O ERRO -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
